@use '../includes/colors' as color;
@use '../includes/mixins' as mx;
@use '../includes/typography' as font;
@use '../includes/variables' as var;
@use '../includes/classes';

.about-bg {
  position: relative;
  &::before {
    @include mx.bgColor(-10, color.$black, 1);
  }
  &::after {
    @include mx.bgHeroImg(-5, '/images/about-bg.jpg', 0.9);
  }
}

.about-intro-section {
  width: 100%;
  min-height: 100vh;
  @include mx.flexRow(center, flex-start);
  padding: 4rem 2.5rem;
  gap: 2rem;
  .about-intro {
    width: 50%;
    @include mx.flexCol(flex-start, flex-start);
    gap: 1rem;
    p {
      color: color.$darkGrey;
    }
  }
  .button {
    background-color: color.$firstColor;
  }
}

.about-figures-section {
  width: 40%;
  @include mx.flexRowCenter();
  gap: 1rem;
  .figures-div {
    width: 50%;
    @include mx.flexColCenter();
    gap: 1rem;
  }
}

.about-figure {
  width: 100%;
  @include mx.flexColCenter();
  img {
    width: 100%;
    border-radius: 0.25rem;
  }
}

.team-section {
  width: 100%;
  @include mx.flexColCenter();
  padding: 4rem 2.5rem;
  .subtitle {
    margin-bottom: 2rem;
  }
}

.members-div {
  width: 100%;
  @include mx.flexRowCenter();
  gap: 2rem;
  .member-fig {
    width: 25%;
    @include mx.flexColCenter();
    position: relative;
    img {
      width: 100%;
      border-radius: 1rem;
    }
  }
}

.member-fig {
  .member-info {
    width: 85%;
    @include mx.flexRow(var.$between, center);
    position: absolute;
    bottom: 5%;
    border-radius: 0.5rem;
    background-color: color.$white;
    padding: 0.75rem 1rem;
    h4 {
      font-size: 1.25rem;
      color: color.$firstColor;
    }
    i {
      font-size: 1.5rem;
      color: color.$firstColor;
    }
  }
}

@media all and (max-width: 575px) {

  .about-intro-section, .team-section {
    padding: 2rem 1rem;
  }
}

@media all and (min-width: 576px) and (max-width: 991px) {

  .about-intro-section, .team-section {
    padding: 3rem 2rem;
  }
}

@media all and (max-width: 991px) {

  .about-intro-section {
    flex-direction: column;
    .about-intro {
      width: 100%;
      margin-bottom: 2rem;
    }
    h2 {
      text-align: center;
      line-height: 1.5;
    }
  }

  .about-figures-section {
    width: 100%;
    flex-direction: column;
    margin-bottom: 2rem;
    .figures-div {
      width: 100%;
    }
    .figures-div:first-of-type {
      flex-direction: column-reverse;
    }
  }

  .members-div {
    flex-direction: column;
    .member-fig {
      width: 100%;
    }
  }
}