@use '../includes/colors' as color;
@use '../includes/mixins' as mx;
@use '../includes/typography' as font;
@use '../includes/variables' as var;
@use '../includes/classes';

.contact-bg {
  position: relative;
  &::before {
    @include mx.bgColor(-10, color.$black, 1);
  }
  &::after {
    @include mx.bgHeroImg(-5, '/images/contact-bg.jpg', 0.9);
    background-position: 25% 65%;
  }
}


@media all and (max-width: 991px) {
  .contact-bg {
    &::after {
      background-position: 35% 50%;
    }
  }
}