@use '../includes/colors' as color;
@use '../includes/mixins' as mx;
@use '../includes/typography' as font;
@use '../includes/variables' as var;
@use '../includes/classes';

.home-bg {
  position: relative;
  &::before {
    @include mx.bgColor(-10, color.$black, 1);
  }
  &::after {
    @include mx.bgHeroImg(-5, '/images/home-bg.jpg', 0.7);
  }
}

.home-landing {
  @include mx.flexColCenter();
}

.home-intro {
  @include mx.flexColCenter();
  text-align: center;
  gap: 1rem;
  .first-separator {
    transform: rotate(180deg);
  }
  .home-intro-box {
    width: 75%;
    padding-block: 3rem;
  }
  .separator-fig {
    width: 40%;
    @include mx.flexColCenter();
  }
}

.home-intro.wrapper {
  min-height: 90vh;
}


.article-container article {
  @include mx.flexCol(flex-start, flex-start);
  padding-inline: 5rem;
  gap: 1rem;
}

.home-columns {
  @include mx.flexColCenter();
  padding-block: 4rem;
  .home-first-column {
    @include mx.flexRowCenter();
    figure {
      width: 60%;
      @include mx.flexColCenter();
    }
    .article-container {
      width: 40%;
      @include mx.flexRowCenter();
      article {
        border-right: 3px solid color.$firstColor;
        margin-block: 5rem;
      }
    }
  }
}

.home-columns {
  .home-second-column {
    @include mx.flexRowCenter();
    .article-container {
      width: 60%;
      @include mx.flexColCenter();
      .subtitle {
        width: 75%;
        border-right: 3px solid color.$firstColor;
        padding-bottom: 1.5rem;
      }
      article {
        @include mx.flexRowCenter();
        flex-direction: row;
        border-left: 3px solid color.$firstColor;
        padding-inline: 1rem;
        .article-box {
          width: 45%;
          @include mx.flexCol(flex-start, flex-start);
          gap: 1rem;
          padding: 2rem;
        }
        .article-card {
          width: 45%;
          @include mx.flexColCenter();
          text-align: center;
          gap: 1rem;
          padding: 5rem 2rem;
          object-fit: cover;
          background-color: color.$whiteSnow;
          border-bottom: 5px solid color.$firstColor;
          transition: var.$trs03;
          .home-intro-icon {
            width: 6rem;
            height: 6rem;
            line-height: 6rem;
            font-size: 3.5rem;
            color: color.$firstColor;
            border-radius: 3rem;
            background-color: color.$white;
            transition: var.$trs05;
          }
          p {
            font-size: 1.1rem;
          }
        }
      }
    }  
  }
}

.article-container article .article-card {
  &:hover {
    background-color: color.$firstColor !important;
    border-bottom: 5px solid color.$thirdColor !important;
    border-radius: 1rem !important;
  }
  &:hover .home-intro-icon {
    color: color.$thirdColor !important;
    border-radius: 1rem !important;
    background-color: color.$whiteSnow !important;
  }
  &:hover .title {
    color: color.$whiteSnow;
  }
  &:hover .text-grey {
    color: color.$lighterGrey;
  }
}

.home-columns {
  .home-second-column {
    figure {
      width: 40%;
      @include mx.flexColCenter();

    }
  }
}

.subcontainer-left {
  width: 100%;
  .inner-subcontainer-left {
    width: 50%;
    height: 4rem;
    border-top: 3px solid color.$firstColor;
  }
}

.subcontainer-right {
  width: 100%;
  @include mx.flexRow(flex-end, center);
  .inner-subcontainer-right {
    width: 50%;
    height: 4rem;
    border-bottom: 3px solid color.$firstColor;
  }
}


.learn-icon {
  color: color.$firstColor;
}

.home-services-section {
  @include mx.flexColCenter();
  .title {
    text-align: center;
    margin-bottom: 2rem;
  }
  .home-services {
    @include mx.flexRowCenter();
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .subcontainer-right {
    .inner-subcontainer-right {
      width: 35%;
      border-top: 3px solid color.$firstColor;
      border-bottom: 0px;
    }
  }
  .subcontainer-left {
    .inner-subcontainer-left {
      width: 35%;
      border-top: 0px;
      border-bottom: 3px solid color.$firstColor;
    }
  }
}

.home-contact-section {
  min-height: 85vh;
  @include mx.flexColCenter();
  position: relative;
  &::before {
    @include mx.bgHeroImg(-5, '/images/home-contact-bg.jpg', 1);
    background-attachment: fixed;
  }
  &::after {
    @include mx.bgColor(-3, color.$lightBlack, 0.6);
  }
  .home-contact {
    width: 60%;
    @include mx.flexColCenter();
    gap: 1.5rem;
    .subtitle {
      font-size: 2rem;
    }
    .subtitle, .text {
      color: color.$white;
      text-align: center;
      text-shadow: 0 0 0.5rem color.$black;
    }
    .text {
      font-size: 1.5rem;
    }
  }
}


/*----------- BREAKPOINTS -----------*/


@media all and (max-width: 575px) {

  .home-intro {
    .home-intro-box {
      width: 100%;
    }
    .separator-fig {
      width: 75%;
    }
  }

  .home-contact-section {
    .home-contact {
      width: 100%;
    }
  }
}

@media all and (min-width: 576px) and (max-width: 991px) {

  .home-intro {
    .home-intro-box {
      width: 80%;
    }
    .separator-fig {
      width: 60%;
    }
  }

  .home-contact-section {
    .home-contact {
      width: 75%;
    }
  }
}

@media all and (max-width: 991px) {

  .home-columns {
    .home-first-column {
      @include mx.flexColCenter();
      margin-bottom: 2rem;
      figure {
        width: 100%;
      }
      .article-container {
        width: 100%;
        article {
          padding-inline: 0;
          padding-right: 0.5rem;
        }
      }
    }
  }

  .home-columns {
    .home-second-column {
      flex-direction: column-reverse;
      figure {
        width: 100%;
        margin-bottom: 2rem;
      }
      .article-container {
        width: 100%;
        .subtitle {
          width: 100%;
        }
        article {
          flex-direction: column;
          border-left: 0;
          padding-inline: 0;
          .article-box {
            width: 100%;
            padding: 2rem 0rem;
            border-left: 3px solid color.$firstColor;
            padding-left: 1rem;
          }
          .article-card {
            width: 100%;
          }
        }
      }
    }
  }


}